
.links {
    margin: 0;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    > button {
        background: darkorange;
        color: white;
        height: 30px;
        width: 100px;
    }
}

.link-table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


td {
    border-bottom: 1px solid $menu-fn;
    padding: 10px 10px;
    width: 10%;
    color: $menu-fn;
    margin: 0;

    > div {
            float: left;
            margin-left: 20px;
    }

    > .right {
        float: right;
        
        > svg {
             display: none;
        }

        > a {
            color: blue;
            text-align: left;
            text-decoration: none;
        }
    }
  }

td:hover {
      background: $menu-fn;
      color: white;

    > .right {
              
        > a {
            padding: 10px;
        }

        > svg {
            display: block;
            width: 20px;
            height: 20px;
            margin: 5px;
            float: right;
        }
    }
}