
/* media grid*/
/* mobile */
@media (max-width: 767px) {

    .m-menu {
        height: 50px;
        padding: 0;
        margin: 0;
        display: inline-block;
        position: relative;  
    }

    nav {
        float: left;
        border-bottom: 1px solid $menu-fn;
        
        > ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        
            > li {
                
                > a {
                    display: block;
                    padding: 15px 0;
                    color: $menu-fn;
                    width: 100%;
                    margin: 0 auto;
                    text-decoration: none;
                }
    
                > a:hover {
                    color: white;
                    background: $menu-fn;
                    border-left: 15px solid orange; 
                }
            }

            > li:last-child a {
                border-bottom: none;
            }
        }
    }
    
    #menuToggle:checked ~ .nav-menu {
        position: absolute;
        top: 0px;
    }

    #menuToggle:checked ~ .m-persons {
        display: none;
    }

    .nav-menu {
        height: auto;
        position: absolute;
        top: -1000px;
        transition: all .7s ease-in-out;
        margin: 0 auto;
        border-radius: 5px;
        opacity: 0.8;
        padding: 70px 0;
     }

     .nav-icon {
        width: 20px;
        height: 20px;
        float: left;
        display: block;
        margin: 0;
        margin-top: 12px;
        margin-right: 10px;
        margin-left: 15px;
        padding: 0;
        fill: $menu-fn; 
     }
}

/* not mobile */
@media (min-width: 768px) {
    nav {
        float: left;
        border-bottom: 1px solid $menu-fn;
        
        > ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        
            > li {
                

                > a {
                    display: block;
                    padding: 15px 0;
                    color: $menu-fn;
                    width: 100%;
                    margin: 0 auto;
                    text-decoration: none;
                }
    
                > a:hover {
                    color: white;
                    background: $menu-fn;
                    border-left: 15px solid orange; 
                }
            }

            > li:last-child a {
                border-bottom: none;
            }
        }
    }
    
    #menuToggle:checked ~ .nav-menu {
        position: absolute;
        top: 0;
    }

    #menuToggle:checked ~ .persons {
        display: none;
    }

    .nav-menu {
        height: auto;
        position: absolute;
        top: -1000px;
        transition: all .7s ease-in-out;
        margin: 0 auto;
        border-radius: 5px;
        opacity: 0.8;
        padding: 70px 0;
     }

     .nav-icon {
        width: 20px;
        height: 20px;
        float: left;
        display: block;
        margin: 0;
        margin-top: 12px;
        margin-right: 10px;
        margin-left: 15px;
        padding: 0;
        fill: $menu-fn;
     }
}