
.top-bar-mobile {
    background-color: $top-bar-bg-color;
    border-bottom: 1px solid $menu-fn;
    margin: 0;
    padding: 0;
    display: block;
    height: 400px;
}
/* media grid*/

@media (max-width: 767px) {

    .header-m-1 {
        display: inline-block;
        border-bottom: 1px solid $menu-fn;
        height: 100px;
        
    }

    .header-m-2 {
        border-bottom: 1px solid $menu-fn;
        height: 50px;

        > h1 {
            margin-left: 20px;
            font-size: 36px;
            font-family: 'Nothing You Could Do', cursive;
        }
    }

    .wallet, .notification, .personaldata, .quit {
        margin: 0;
        padding: 0;
        border-right: 1px solid $menu-fn;
        float: left;
        height: 100px;
        text-align: center;

        > h1 {
            font-size: 18px;
            margin: 0;

            > img {
                height: 35px;
                width: 35px;
                margin: 0;
                padding-top: 15px;
            }
        }

        > img {
            height: 35px;
            width: 35px;
            margin: 0;
            padding-top: 15px;
        }
    }
}

@media (min-width: 768px) {
    .top-bar-mobile{
        display: none;
    }
}