
.top-bar {
    background-color: $top-bar-bg-color;
    height: 60px;
    border-bottom: 1px solid $menu-fn;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

/* media grid */

@media (max-width: 767px) {
    .top-bar{
        display: none;
    }
}

@media (min-width: 768px) {
    .blank, .wallet, .notification, .personaldata, .quit {
        margin: 0;
        padding: 0;
        border-right: 1px solid $menu-fn;
        height: 60px;
        text-align: center;

        > h1 {
            font-size: 18px;
            margin: 0;

            > img {
                height: 35px;
                width: 35px;
                margin: 0;
                padding-top: 15px;
            }
        }

        > img {
            height: 35px;
            width: 35px;
            margin: 0;
            padding-top: 15px;
        }
    }
}